<div>
    <h4>Details:</h4>
        <p>Name: {{name}}</p>
        <p>Occupation: {{occupation}}</p>
        <p>Quote: {{catchPhrase}}</p>
    
    <form action="/celebrities/{{_id}}/delete" method="post">
        <button>Delete movie</button>
    </form>
    <form action="/movies/{{_id}}/edit" method="get">
        <button>Update movie</button>
    </form>
</div>